<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:dubbo.properties</value>
            </list>
        </property>
    </bean>

    <dubbo:application name="${dubbo.application.name}" />
    <!--
    <dubbo:registry address="multicast://224.5.6.7:1234" />
    <dubbo:registry address="zookeeper://127.0.0.1:2181?client=zkclient" />
    <dubbo:registry address="zookeeper://127.0.0.1:2181?client=curator" />
    -->
    <dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" client="${dubbo.registry.client}" />

    <!-- dubbo协议配置 -->
    <dubbo:protocol name="${dubbo.protocol.name}" host="${dubbo.protocol.host}" port="${dubbo.protocol.port}" />
    <!-- hessian协议配置 -->
    <dubbo:protocol name="${hessian.protocol.name}" host="${hessian.protocol.host}" port="${hessian.protocol.port}" server="${hessian.protocol.server}" />
    <!-- 设置默认协议为dubbo -->
    <dubbo:provider protocol="${dubbo.protocol.name}" />

    <!-- dubbo协议接口 -->
    <bean id="demoService" class="com.whl.dubbo.DemoServiceImpl" />
    <dubbo:service interface="com.whl.dubbo.DemoService" ref="demoService" />

    <!-- hessian协议接口 -->
    <bean id="fileService" class="com.whl.dubbo.FileServiceImpl" />
    <dubbo:service protocol="${hessian.protocol.name}" interface="com.whl.dubbo.FileService" ref="fileService" />

</beans>